/* Responsive Design */
@media screen and (max-width: 880px) {
  .logo-admin {
    width: 100px;
    height: 100px;
    margin: 25px auto;
    border-radius: 50%;
  }

  .row-admin {
    width: 100%;
    padding: 0;
    min-height: auto;
    text-align: left;
  }

  .dropdown-admin {
    margin-top: 20px;
  }

  .toggle-button {
    display: block;
    margin: 10px auto;
    text-align: center;
  }
}

/* Hide the toggle button for screen sizes above 768px */
@media (min-width: 769px) {
  .toggle-button {
    display: none;
  }

  .sidebar {
    display: block !important; /* Gunakan !important untuk memastikan display: block diterapkan */
  }

  .offcanvas-body {
    display: none !important; /* Gunakan !important untuk memastikan display: none diterapkan */
  }
}

/* Ensure the offcanvas is always displayed for small screens */
@media (max-width: 768px) {
  .sidebar {
    display: none !important; /* Gunakan !important untuk memastikan display: none diterapkan */
  }

  .offcanvas-body {
    display: block !important; /* Gunakan !important untuk memastikan display: block diterapkan */
  }
}

/* Your existing styles */
.logo-admin {
  width: 135px;
  height: 135px;
  margin: 25px auto;
  border-radius: 180px;
}

.custom-text-admin {
  text-align: left;
  margin-top: 15px;
}

.row-admin {
  background-color: black;
  color: white;
  min-height: 100vh;
  width: 300px;
  padding: 0 20px;
}

.dropdown-admin {
  margin-top: 50px;
  text-align: left;
  margin-left: 30px;
}

.dropdown-item:active,
.dropdown-item:hover {
  background-color: #fff;
  color: black;
}

.custom-dropdown-toggle {
  background-color: #d5a351;
  border: none;
  color: white;
}

.custom-dropdown-toggle:active,
.custom-dropdown-toggle:hover,
.custom-dropdown-toggle:focus {
  background-color: #d5a351;
  border: none;
  color: white;
}

@media screen and (max-width: 426px) {
  .logo-admin {
    width: 60px;
    height: 60px;
    margin: 20px auto;
    border-radius: 50%;
  }

  .row-admin {
    width: 100%;
    padding: 0;
    min-height: auto;
  }

  .dropdown-admin {
    margin-top: 20px;
  }

  .card-admin {
    width: 90%;
    margin: 10px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}
